// <mat-toolbar>
.cntm-layout-logo {
    // background-image: url('../../../public/assets/img/scotiabank-logo-white-desktop.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 181px;
    height: 26px;
}
// <mat-sidenav-container>
