.home-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.home-container .css-1oqqzyl-MuiContainer-root{
  max-width: 1500px;
}
